// Карта цветов

$header-text-color: #424242;
$secondary-text-color: #5c5c5c;
$watsapp-button: #126c03;
$main-text-color: #282828;
$button-color: #ff8562;
$button-bgc: #321a03;
$button-text-color: #f2b170;
$services-color: #000000;
$form-text-color: #2c3132;
$form-text-secondary-color: #4a4a4a;
$form-tel-color: #404040;
$form-bgc: #f4f4f4;
$footer-adress-color: #2c3132;
$price-color: #262626;
$pages-bgc: #ffffff;
$secondary-pages-color: #faf7f0;
$border-color: #b0a090;
