.why-us {
  position: relative;
  min-height: 600px;
  background-size: cover;
  background-position: center center;

  h2 {
    padding-top: 30px;
    color: $main-text-color;
    font-size: 45px;
    line-height: 1.15;
    font-weight: 400;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      line-height: 1.3;
      font-weight: 300;
      text-align: center;
      padding: 30px;
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1280px) {
    }
  }

  ul {
    position: absolute;
    top: 140px;
    left: 190px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      position: static;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1280px) {
    }

    li {
      width: 60%;
      margin: 25px 10px;

      @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 90%;
        margin: 20px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 1280px) {
      }
    }

    h3 {
      color: $main-text-color;
      font-size: 22px;
      line-height: 1.15;
      font-weight: 500;

      @media screen and (min-width: 320px) and (max-width: 767px) {
        font-size: 20px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 1280px) {
      }
    }

    p {
      color: $main-text-color;
      font-size: 16px;
      line-height: 1.35;
      font-weight: 400;
      padding-top: 10px;
    }
  }

  img {
    max-width: 65%;
    margin-left: auto;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1280px) {
    }
  }
}
