<div class="whatsapp-button-wrapper rounded-circle pulse">
    <div class="box-shadow rounded-circle">
        <a href="https://api.whatsapp.com/send?phone=79263897006&amp;text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%A5%D0%BE%D1%87%D1%83%20%D1%83%D0%B7%D0%BD%D0%B0%D1%82%D1%8C%20%D1%81%D1%82%D0%BE%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C%20%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82%D0%B0!%20%D0%9D%D0%BE%D0%BC%D0%B5%D1%80%20%D0%BC%D0%BE%D0%B5%D0%B9%20%D0%B7%D0%B0%D1%8F%D0%B2%D0%BA%D0%B8:%20108291%20(%D0%9E%D0%B1%D1%8F%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%20%D0%BE%D1%82%D0%BF%D1%80%D0%B0%D0%B2%D1%8C%D1%82%D0%B5%20%D0%BD%D0%B0%D0%BC%20%D1%8D%D1%82%D0%BE%D1%82%20%D0%BD%D0%BE%D0%BC%D0%B5%D1%80%20%D0%B4%D0%BB%D1%8F%20%D0%BA%D0%BE%D0%BD%D1%82%D1%80%D0%BE%D0%BB%D1%8F%20%D0%BA%D0%B0%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%B0%20%D0%BE%D0%B1%D1%81%D0%BB%D1%83%D0%B6%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F"
            target="_blank" aria-label="whatsapp" rel="noreferrer noopener">
            <img class="whatsapp-button" src="https://image.ibb.co/jxU6f9/whatsapp.png" alt="whatsapp">
        </a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
<script type="module" src="./js/all.min.js"></script>
<script type="module" src="./js/lightcase.js"></script>
<script type="module" src="./js/owl.carousel.min.js"></script>
<script type="module" src="./index.js"></script>