<section class="brands">
    <div class="container">
        <h2>Мы ремонтируем бренды</h2>
    </div>
    <div class="brands-lines">
        <ul>
            <li>
                <img src="/src/images/brands/prada.svg"></img>
            </li>

            <li>
                <img src="/src/images/brands/chanel.svg"></img>
            </li>

            <li>
                <img src="/src/images/brands/baldinini.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/berluti.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/casadei.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/choo.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/tods.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/balenciaga.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/fendi.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/gucci.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/hermes.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/saintlaurent.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/valentino.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/dolce.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/fabi.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/bottega.svg"></img>
            </li>
        </ul>
    </div>

</section>