<section class="brands">
    <div class="container">
        <h2>Мы ремонтируем бренды</h2>
    </div>
    <div class="brands-lines">
        <ul>
            <li>
                <img src="/src/images/brands/prada.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/balenciaga.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/chanel.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/bottega.svg"></img>
            </li>
            <li>
                <img src="/src/images/brands/dolce.svg"></img>
            </li>
        </ul>
    </div>

</section>