<div class="brands">
    <div class="container">
        <h2>Мы ремонтируем бренды</h2>
        <ul>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#balenciaga"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#berluti"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#bottega-veneta"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#casadei"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#chanel"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#d-and-g"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#fendi"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#gucci"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#hermes"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#louis-vuitton"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#prada"></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use href="/src/images/brands/sprite.svg#valentino"></use>
                </svg>
            </li>
        </ul>
    </div>
</div>