<div class="contacts">
    <div class="container">
        <h2>Наши контакты</h2>
        <div class="map" id="map_container">
            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9032251976b3612eb250299b62451e10999c190060ffffc4f79c833f3731a9a8&amp;width=100%&amp;height=500&amp;lang=ru_RU&amp;scroll=true">
                    let map_container = document.getElementById('map_container');
                    let options_map = {
                        once: false,//once start, thereafter destroy listener
                        passive: true,
                        capture: true
                    };
                    map_container.addEventListener('click', start_lazy_map, options_map);
                    map_container.addEventListener('mouseover', start_lazy_map, options_map);
                    map_container.addEventListener('touchstart', start_lazy_map, options_map);
                    map_container.addEventListener('touchmove', start_lazy_map, options_map);
                    let map_loaded = false;
                    function start_lazy_map() {
                        if (!map_loaded) {
                            let map_block = document.getElementById('ymap_lazy');
                            map_loaded = true;
                            map_block.setAttribute('src', map_block.getAttribute('data-src'));
                            map_block.removeAttribute('data_src');
                            console.log('YMAP LOADED');
                        }
                    }
                </script>
            <div class="address-box">
                <address>
                    <p>г. Москва </p>
                    <p>м. Фрунзенская, 2-й Тружеников</p>
                    <p>переулок 4/19 стр 1</p>
                    <p>&nbsp;</p>
                    <p>Время работы: </p>
                    <p>с 12:00 до 21:00 пн-пт</p>
                    <p>с 12:00 до 20:00 сб, вс</p>
                </address>
            </div>
        </div>
    </div>
</div>