<section class="delivery">
    <div class="container">
        <div class="delivery-bg">
            <img src="./images/delivery-man.jpg" alt=""/>

            <div class="delivery-info">
                <h2>Оформите заказ прямо сейчас и...</h2>
                <p class="test">Наш специалист приедет к Вам!</p>
                <p>Вместе с вами осмотрит обувь, сумки и аксессуары. Согласует с вами ремонтные работы, проконсультирует по уходу и заберёт вещи.</p>
                <p>По окончанию ремонта мы доставим обувь в удобное для вас время и место</p>
            <p>
                <form>
                    <input type="tel" name="" value="" placeholder="Телефон"/>
                    <button onclick="" data-rel="lightcase" type="submit">Оформить заказ</button>
                </form>
            </p>
            </div>

    </div>
    </div>
</section>