<div class="delivery" style="background-image: url(/src/images/delivery.png); background-size: cover;">
    <div class="container">
        <h2>Специалист приедет к вам</h2>
        <p>Вместе с Вами осмотрит обувь, сумки и аксессуары. Согласует с Вами ремонтные работы, проконсультирует по
            уходу и заберёт вещи.</p>
        <p>По окончанию ремонта мы доставим обувь в удобное для вас время и место.</p>
        <a href="" data-rel="lightcase" title="">ОФОРМИТЬ ЗАКАЗ</a>
    </div>
</div>