<heder>
  <div class="container">
    <div class="logo">
      <a href="./index.html" class="link">
        <img class="logo-img" src="./images/logo.png" alt="logo" width="91" height="73" />
      </a>
      <p>Ремонт обуви и сумок с доставкой по Москве и РФ</p>
      <a href="./index.html" class="link">
        <img class="map-img" src="./images/map.png" alt="map" width="50" />
      </a>
      <p>г. Москва, м. Фрунзенская, 2-й Тружеников переулок 4/19 стр.1</p>
      <ul class="logo-list">
        <li>
          <a><img src="./images/watsapp-icon.png" width="50" /></a>
        </li>
        <li>
          <a href="tel:+74992868277" class="contacts__link">
            +7 499 286 82 77
          </a>
        </li>
        <li>
          <a href="" aria-label="Ссылка на WatsApp">Написать в What's App</a>
        </li>
      </ul>
    </div>
    <nav class="header-menu">
      <ul class="header-list">
        <li class="header-item"><a href="./index.html"></a>Обувь</li>
        <li class="header-item"><a href="./partials/stretching.html" class="link">Растяжка</a></li>
        <li class="header-item"><a href="./partials/bags.html" class="link">Сумки</a></li>
        <li class="header-item"><a href="./partials/jackets.html" class="link">Куртки</a></li>
        <li class="header-item"><a href="./partials/cleaning.html" class="link">Химчистка</a></li>
        <li class="header-item"><a href="./partials/beforeafter.html" class="link">До/После</a></li>
        <li class="header-item"><a href="./partials/services.html" class="link">Услуги</a></li>
        <li class="header-item"><a href="./partials/contacts.html" class="link">Контакты</a></li>
      </ul>
    </nav>
  </div>
</heder>