<heder>
  <div class="container">
    <div class="logo">
      <a href="./index.html" class="link">
        <img class="logo-img" src="./images/logo.png" alt="logo" width="80" />
      </a>
      <p>Ремонт обуви и сумок с доставкой по Москве и РФ</p>
      <a href="./index.html" class="link">
        <img class="map-img" src="./images/map.png" alt="map" width="80" />
      </a>
      <p>г. Москва, м. Фрунзенская, 2-й Тружеников переулок 4/19 стр.1</p>
      <ul>
        <li>
          <a><img src="./images/watsapp-icon.png" width="50" /></a>
        </li>
        <li>
          <a href="tel:+74992868277" class="contacts__link">
            +7 499 286 82 77
          </a>
        </li>
        <li>
          <a href="" aria-label="Ссылка на WatsApp">Написать в What's App</a>
        </li>
      </ul>
    </div>
    <div class="header-menu">
      <ul class="menu-list">
        <li>Обувь</li>
        <li>Растяжка</li>
        <li>Сумки</li>
        <li>Куртки</li>
        <li>Химчистка</li>
        <li>До/После</li>
        <li>Услуги</li>
        <li>Контакты</li>
      </ul>
    </div>
  </div>
</heder>