<section class="first-screen shoes"
    style="background:url(/src/images/service_bg/shoes-1.jpg),#0A0A0A;background-size: contain; background-position: top right;background-repeat: no-repeat">
    <div class="first-screen-mobile" style="background-image:url(/src/images/service_bg/mob/shoes-1.jpg);">
        <div class="container">
            <h1 class="white">Профессиональный ремонт и реставрация обуви в Москве</h1>
            <h2 class="white">Уже через 1-2 часа приедет наш курьер и заберёт ваше изделие в ремонт, а после ремонта
                вернёт его Вам</h2>
            <a href="https://i.imgur.com/i45Zr2Y.jpg" class="first-screen-button" data-rel="lightcase">
                <span>Рассчитать стоимость ремонта</span>
            </a>
            <ul class="first-screen-icons">
                <li>
                    <img src="/src/images/header-delivery.png" alt="icon-delivery" width="55" height="55" />
                    <span class="white">Бесплатная и быстрая доставка</span>
                </li>
                <li>
                    <img src="/src/images/header-check.png" alt="icon-check" width="55" height="55" />
                    <span class="white">Качественная работа</span>
                </li>
            </ul>
        </div>
    </div>
</section>