<section class="first-screen" style="background-image:url(/src/images/service_bg/bags.png);background-size: cover;">
    <div class="first-screen-mobile"
        style="background-image:url(/src/images//service_bg/bags_mob.png);background-size: cover;">
        <div class="container">
            <h1>Профессиональный ремонт обуви и сумок в Москве</h1>
            <h2>Уже через 1-2 часа приедем и заберём изделие в ремонт. С бесплатной доставкой на дом</h2>
            <a href="https://i.imgur.com/i45Zr2Y.jpg" class="first-screen-button" data-rel="lightcase">
                <span>Оформить заказ</span></a>
        </div>
    </div>
</section>