<div class="reviews">
    <div class="container">

        <h2>За 5 лет на рынке мы произвели ремонт более 40 000 пар обуви</h2>

        <div class="reviews-testimonials">
            <div class="owl-carousel owl-carousel2 owl-theme">
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="./images/reviews/reviews1.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>