<section class="reviews">
    <div class="container">

        <h2 id="reviews">Отзывы</h2>

        <div class="reviews-testimonials">
            <div class="owl-carousel owl-reviews owl-theme">
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/reviews/reviews1.jpg" alt="asdasdsa" />
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/reviews/reviews2.jpg" alt="asdasdsa" />
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/reviews/reviews3.jpg" alt="asdasdsa" />
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/reviews/reviews4.jpg" alt="asdasdsa" />
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/reviews/reviews5.jpg" alt="asdasdsa" />
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/reviews/reviews6.jpg" alt="asdasdsa" />
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/reviews/reviews7.jpg" alt="asdasdsa" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>