<section class="services" style="background:url(/src/images/bgi.png)">
    <div class="container">
        <h2>Наши услуги</h2>
        <!-- <p>C нами вам выгоднее сделать ремонт любимой обуви, чем снова тратить время и деньги на поиск новой комфортной
            пары.</p> -->
        <div class="services-list">
            <ul>
                <li>
                    <img src="/src/images/service_photos/services-1.png" width="270" />
                    <h3><a>Базовый уход</a></h3>
                    <p>1850 ₽</p>
                    <a href="" data-rel="lightcase" title="" class="services-link">ОФОРМИТЬ ЗАКАЗ</a>
                </li>

            </ul>
        </div>
    </div>
</section>