<div class="services">
    <div class="container">
        <h2>Услуги мастерской по ремонту обуви</h2>
        <p>C нами вам выгоднее сделать ремонт любимой обуви, чем снова тратить время и деньги на поиск новой комфортной
            пары.</p>
        <div class="services-list">
            <ul>
                <li>
                    <img src="./images/service_photos/services-1.png" width="260" />
                    <p>Базовый уход</p>
                    <p>1850 ₽</p>
                    <a href="" data-rel="lightcase" title="">ОФОРМИТЬ ЗАКАЗ</a>
                </li>
                <li>
                    <img src="./images/service_photos/services-1.png" width="260" />
                    <p>Базовый уход</p>
                    <p>1850 ₽</p>
                    <a href="" data-rel="lightcase" title="">ОФОРМИТЬ ЗАКАЗ</a>
                </li>
                <li>
                    <img src="./images/service_photos/services-1.png" width="260" />
                    <p>Базовый уход</p>
                    <p>1850 ₽</p>
                    <a href="" data-rel="lightcase" title="">ОФОРМИТЬ ЗАКАЗ</a>
                </li>
                <li>
                    <img src="./images/service_photos/services-1.png" width="260" />
                    <p>Базовый уход</p>
                    <p>1850 ₽</p>
                    <a href="" data-rel="lightcase" title="">ОФОРМИТЬ ЗАКАЗ</a>
                </li>
                <li>
                    <img src="./images/service_photos/services-1.png" width="260" />
                    <p>Базовый уход</p>
                    <p>1850 ₽</p>
                    <a href="" data-rel="lightcase" title="">ОФОРМИТЬ ЗАКАЗ</a>
                </li>
                <li>
                    <img src="./images/service_photos/services-1.png" width="260" />
                    <p>Базовый уход</p>
                    <p>1850 ₽</p>
                    <a href="" data-rel="lightcase" title="">ОФОРМИТЬ ЗАКАЗ</a>
                </li>
                <li>
                    <img src="./images/service_photos/services-1.png" width="260" />
                    <p>Базовый уход</p>
                    <p>1850 ₽</p>
                    <a href="" data-rel="lightcase" title="">ОФОРМИТЬ ЗАКАЗ</a>
                </li>
                <li>
                    <img src="./images/service_photos/services-1.png" width="260" />
                    <p>Базовый уход</p>
                    <p>1850 ₽</p>
                    <a href="" data-rel="lightcase" title="">ОФОРМИТЬ ЗАКАЗ</a>
                </li>
            </ul>
        </div>
    </div>
</div>