<section class="services">
    <div class="container">
        <h2>Наши услуги</h2>

        <div class="services-list">
            <ul>
                <li class="services-card">
                    <div class="visible-block"
                        style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/src/images/service_photos/services-1.png);">

                        <h2>Химчистка обуви</h2>
                    </div>
                    <div class="hidden-text">
                        <h2>Химчистка обуви</h2>
                        <div class="hidden-links">
                            <p><span>От 1850 ₽ </span><a href="" data-rel="lightcase" title="">Подробнее</a></p>
                            <a href="" data-rel="lightcase" title="" class="services-link">Оформить заказ</a>
                        </div>
                    </div>
                </li>
                <li class="services-card">
                    <div class="visible-block"
                        style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/src/images/service_photos/jackets-2.jpg);">

                        <h2>Химчистка кроссовок</h2>
                    </div>
                    <div class="hidden-text">
                        <h2>Химчистка кроссовок</h2>
                        <div class="hidden-links">
                            <p><span>От 1850 ₽ </span><a href="" data-rel="lightcase" title="">Подробнее</a></p>
                            <a href="" data-rel="lightcase" title="" class="services-link">Оформить заказ</a>
                        </div>
                    </div>
                </li>
                <li class="services-card">
                    <div class="visible-block"
                        style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/src/images/service_photos/jackets-3.jpg);">

                        <h2>Покраска обуви</h2>
                    </div>
                    <div class="hidden-text">
                        <h2>Покраска обуви</h2>
                        <div class="hidden-links">
                            <p><span>От 1850 ₽ </span><a href="" data-rel="lightcase" title="">Подробнее</a></p>
                            <a href="" data-rel="lightcase" title="" class="services-link">Оформить заказ</a>
                        </div>
                    </div>
                </li>
                <li class="services-card">
                    <div class="visible-block"
                        style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/src/images/service_photos/jackets-4.jpg);">

                        <h2>Базовый уход</h2>
                    </div>
                    <div class="hidden-text">
                        <h2>Базовый уход</h2>
                        <div class="hidden-links">
                            <p><span>От 1850 ₽ </span><a href="" data-rel="lightcase" title="">Подробнее</a></p>
                            <a href="" data-rel="lightcase" title="" class="services-link">Оформить заказ</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>


    </div>
</section>