<section class="why-us" style="background-image: url(/src/images/wbg.png)">
    <div class="container">
        <h2>Почему стоит обратиться именно в нашу мастерскую?</h2>

        <ul>
            <li>
                <h3>РАБОТАЕМ С ДОРОГИМИ БРЕНДАМИ</h3>
                <p>Мы специализируемся на ремонте дорогой обуви и знаем все тонкости по уходу за ней</p>
            </li>
            <li>
                <h3>ОПЫТНЫЕ РАБОТНИКИ</h3>
                <p>Мастера с опытом работы свыше 15 лет</p>
            </li>
            <li>
                <h3>ПРОФЕССИОНАЛЬНАЯ КОСМЕТИКА</h3>
                <p>В работе используем косметику мировых лидеров</p>
            </li>
            <li>
                <h3>ГАРАНТИЯ КАЧЕСТВА</h3>
                <p>На ремонт и реставрацию мы даем гарантию 30 дней</p>
            </li>
        </ul>
        <img src="/src/images/why-us.png" />
    </div>
</section>