<section class="why-us">
    <div class="container">
        <h2>Почему мы?</h2>
        <div class="why-us-cover" style="background-image: url('/src/images/why-us.png');">
            <ul>
                <li>
                    <img src="/src/images/why-us-1.png" width="90" />
                    <div class="why-us-info">
                        <h3>РАБОТАЕМ С ДОРОГИМИ
                            БРЕНДАМИ
                        </h3>
                        <p>Мы специализируемся на ремонте дорогой обуви и знаем все тонкости по уходу за ней</p>
                    </div>
                </li>
                <li>
                    <img src="/src/images/why-us-2.png" width="90" />
                    <div class="why-us-info">
                        <h3> ГАРАНТИЯ КАЧЕСТВА</h3>
                        <p>На ремонт и реставрацию мы даем гарантию 30 дней</p>
                    </div>
                </li>
                <li>
                    <img src="/src/images/why-us-3.png" width="90" />
                    <div class="why-us-info">
                        <h3> ОПЫТНЫЕ РАБОТНИКИ</h3>
                        <p>Мастера с опытом работы свыше 15 лет</p>
                    </div>
                </li>
                <li>
                    <img src="/src/images/why-us-4.png" width="90" />
                    <div class="why-us-info">
                        <h3> ПРОФЕССИОНАЛЬНАЯ КОСМЕТИКА</h3>
                        <p>В работе используем косметику мировых лидеров</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>