<div class="works">
    <div class="container">
        <div class="works-list">
            <ul>
                <li><img src="/src/images/doit/shoes/doit-1.svg" width="140" height="150" />
                    <span>Ремонтируем обувь</span>
                </li>
                <li><img src="/src/images/doit/shoes/doit-2.svg" width="140" height="150" />
                    <span>Чистим обувь</span>
                </li>
                <li><img src="/src/images/doit/shoes/doit-3.svg" width="140" height="150" />
                    <span>Красим обувь</span>
                </li>
                <li><img src="/src/images/doit/shoes/doit-4.svg" width="140" height="150" />
                    <span>Выводим реагенты</span>
                </li>
                <li><img src="/src/images/doit/shoes/doit-5.svg" width="140" height="150" />
                    <span>Защищаем обувь</span>
                </li>
            </ul>
        </div>

        <h2>За 5 лет на рынке мы произвели ремонт более 40 000 пар обуви</h2>

        <div class="works-testimonials">
            <div class="owl-carousel owl-works owl-theme">
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/works/work1.png" alt="" />
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/works/work1.png" alt="" />
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/works/work1.png" alt="" />
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/works/work1.png" alt="" />
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="/src/images/works/work1.png" alt="" />
                    </div>
                </div>





            </div>
        </div>
    </div>

</div>